body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.fleft{
	float: left;
	margin:10px 10px 10px 0px;
}
.fright{
	float: right;
	margin:10px 0px 10px 10px;
}
.dim300{
	max-width: 300px;
}
